<h1>Tuples in Python</h1>

<p><strong>Welcome!</strong> This notebook will teach you about the tuples in the Python Programming Language. By the end of this lab, you'll know the basics tuple operations in Python, including indexing, slicing and sorting.</p>

<h2 id="tuple">Tuples</h2>

In Python, there are different data types: string, integer and float. These data types can all be contained in a tuple as follows:

Now, let us create your first tuple with string, integer and float.

In [1]:
# Create your first tuple

tup1 = ("disco",10,1.2 )
tup1

('disco', 10, 1.2)

The type of variable is a **tuple**.

In [2]:
# Print the type of the tuple you created

type(tup1)

tuple

<h3 id="index">Indexing</h3>

 Each element of a tuple can be accessed via an index. The following table represents the relationship between the index and the items in the tuple. Each element can be obtained by the name of the tuple followed by a square bracket with the index number:

We can print out each value in the tuple:

In [4]:
# Print the variable on each index

print(tup1[0])
print(tup1[1])
print(tup1[2])

disco
10
1.2

We can print out the **type** of each value in the tuple:

In [5]:
# Print the type of value on each index

print(type(tup1[0]))
print(type(tup1[1]))
print(type(tup1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

We can also use negative indexing. We use the same table above with corresponding negative values:

We can obtain the last element as follows (this time we will not use the print statement to display the values):

In [6]:
# Use negative index to get the value of the last element

tup1[-1]

1.2

We can display the next two elements as follows:

In [7]:
# Use negative index to get the value of the second last element

tup1[-2]

10

In [8]:
# Use negative index to get the value of the third last element

tup1[-3]

'disco'

<h3 id="concate">Concatenate Tuples</h3>

We can concatenate or combine tuples by using the **+** sign:

In [9]:
# Concatenate two tuples

tup2 = tup1 + ("hard rock", 10)
tup2

('disco', 10, 1.2, 'hard rock', 10)

We can slice tuples obtaining multiple values as demonstrated by the figure below:

<h3 id="slice">Slicing</h3>

We can slice tuples, obtaining new tuples with the corresponding elements:

In [11]:
# Slice from index 0 to index 2

tup2[0:3]

('disco', 10, 1.2)

We can obtain the last two elements of the tuple:

In [12]:
# Slice from index 3 to index 4

tup2[3:5]

('hard rock', 10)

We can obtain the length of a tuple using the length command:

In [13]:
# Get the length of tuple

len(tup2)

5

This figure shows the number of elements:

<h3 id="sort">Sorting</h3>

 Consider the following tuple:

In [16]:
# A sample tuple

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

We can sort the values in a tuple and save it to a new tuple:

In [17]:
# Sort the tuple

RatingsSorted = sorted(Ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

<h3 id="nest">Nested Tuple</h3>

A tuple can contain another tuple as well as other more complex data types. This process is called 'nesting'. Consider the following tuple with several elements:

In [18]:
# Create a nest tuple

NestedT =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))

Each element in the tuple including other tuples can be obtained via an index as shown in the figure:

In [19]:
# Print element on each index

print("Element 0 of Tuple: ", NestedT[0])
print("Element 1 of Tuple: ", NestedT[1])
print("Element 2 of Tuple: ", NestedT[2])
print("Element 3 of Tuple: ", NestedT[3])
print("Element 4 of Tuple: ", NestedT[4])

Element 0 of Tuple:  1
Element 1 of Tuple:  2
Element 2 of Tuple:  ('pop', 'rock')
Element 3 of Tuple:  (3, 4)
Element 4 of Tuple:  ('disco', (1, 2))

We can use the second index to access other tuples as demonstrated in the figure:

 We can access the nested tuples :

In [20]:
# Print element on each index, including nest indexes

print("Element 2, 0 of Tuple: ",   NestedT[2][0])
print("Element 2, 1 of Tuple: ",   NestedT[2][1])
print("Element 3, 0 of Tuple: ",   NestedT[3][0])
print("Element 3, 1 of Tuple: ",   NestedT[3][1])
print("Element 4, 0 of Tuple: ",   NestedT[4][0])
print("Element 4, 1 of Tuple: ",   NestedT[4][1])

Element 2, 0 of Tuple:  pop
Element 2, 1 of Tuple:  rock
Element 3, 0 of Tuple:  3
Element 3, 1 of Tuple:  4
Element 4, 0 of Tuple:  disco
Element 4, 1 of Tuple:  (1, 2)

We can access strings in the second nested tuples using a third index:

In [21]:
# Print the first element in the second nested tuples

NestedT[2][1][0]

'r'

In [22]:
# Print the second element in the second nested tuples

NestedT[2][1][1]

'o'

 We can use a tree to visualise the process. Each new index corresponds to a deeper level in the tree:

Similarly, we can access elements nested deeper in the tree with a fourth index:

In [23]:
# Print the first element in the second nested tuples

NestedT[4][1][0]

1

In [26]:
# Print the second element in the second nested tuples

NestedT[4][1][1]

2

In [29]:
# Index number of a element in tuple
NestedT.index((3,4))

3